.header {
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;

    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

ul li {
    display: inline-block;
    float: left;
    padding: 0px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    background-color: darkslategrey;
}


ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.columns {
    clear: left;
    height: 300px;
}

.col-1 {
    float: left;
    background-color: #999999;
    width: 20%;
    height: 100%;
}

.col-2 {
    float: left;
    background-color: lightgray;
    width: 60%;
    height: 100%;
}

.col-3 {
    float: left;
    background-color: dimgray;
    width: 20%;
    height: 100%;
}

.footer {
    background-color: darkslategrey;
    padding: 20px;
    text-align: center;
    color: white;
}